/* Контакты */
.contacts {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: var(--color-dark);
  height: 100vh;
  padding: 40px;
}

.contacts__container {
  text-align: right;
  max-width: 300px;
}

.contacts__description {
  font-size: 12px;
  letter-spacing: 6px;
  color: var(--color-light);
  opacity: 0.5;
}

.contacts__list {
  color: var(--color-light);
  opacity: 0.8;
  letter-spacing: 6px;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.contacts__link:hover {
  color: var(--color-light);
  opacity: 1;
}

@media (max-width: 768px) {
  .contacts {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 20px 100px;
    height: auto;
    min-height: 100vh;
    text-align: center;
  }

  .contacts__container {
    max-width: 100%;
    text-align: center;
  }

  .contacts__list {
    justify-content: center;
  }
}